@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500&display=swap');

:root {
    --text-prussian-blue: #062A3E;
    --text-antique-white: antiquewhite;
    --text-dark-gray: #333;

    --bg-prussian-blue: #062A3E;
    --bg-antique-white: antiquewhite;
    --bg-dark-gray: #333;   

    --text-markup: transparent;
}

.dark { 

    --text-prussian-blue: #062A3E;
    --text-antique-white: #333;
    --text-dark-gray: antiquewhite;

    --bg-prussian-blue: #062A3E;
    --bg-antique-white: #333;
    --bg-dark-gray: antiquewhite;    

    --text-markup: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-antique-white);
}

.about {
    margin-top: -10vh;
    width: 50vw;
}

.about h4 {
    color: var(--text-dark-gray);
    font-weight: 200;
}

.favorite-color {
    color: var(--text-prussian-blue);
    background-color: var(--text-markup);
}

.iframe {
    width: 90vw;
    height: 80vh;
    border: 2px solid var(--bg-dark-gray);
    padding: 20px;
}

.nav-top {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px;
    color: var(--text-dark-gray);
    border: 2px solid var(--bg-dark-gray);
}

.nav-top a {
    cursor: pointer;
}

.nav-top h4 {
    margin-left: 20px;
}

.nav-bottom {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin: 20px;
    border: 2px solid var(--bg-dark-gray);
}

.nav-bottom h4 {
    color: var(--text-dark-gray);
    margin-left: 20px;
}

.nav-bottom button {
    background-color: transparent;
    color: var(--text-dark-gray);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 1rem;
    border: none;
}
.nav-bottom button:hover {
    color: var(--bg-antique-white);
    background-color: var(--bg-dark-gray);
}

.nav-bottom button:disabled {
    background-color: var(--bg-dark-gray);
    color: rgb(122, 122, 122);
}

.nav-links {
    display: flex;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: var(--text-dark-gray);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--text-antique-white);
    background-color: var(--bg-dark-gray);
}

main {
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.container {
    display: none;
    text-align: center;
    color: var(--text-dark-gray);
}

.container h2 {
    padding: 1rem;
}

.toggleTheme {
    color: var(--text-dark-gray);
    border: 2px solid var(--bg-dark-gray);
    background: transparent;
    display: inline-block;
    padding: 0.55rem 0.75rem;
    cursor: pointer;
    margin: -30px 0;
}

.btn {
    color: var(--text-dark-gray);
    border: 2px solid var(--bg-dark-gray);
    background: transparent;
    display: inline-block;
    font-style: italic;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
}
